In [1]:
#Import Packages
import requests
import urllib
import json
import mysql.connector

# Part 1

In [2]:
#Basic url with personal API key
url = 'http://www.omdbapi.com/?apikey=3ef88e19'

In [3]:
#Put in the title that want to search
title = 'blade'
final_url = url + '&s=' + title + '&plot=full'

In [4]:
#Print the result data in pretty-print JSON format
request = requests.get(final_url)
data = request.json()
imdb_result = json.dumps(data,indent=2,sort_keys=True)
print(imdb_result)

{
  "Response": "True",
  "Search": [
    {
      "Poster": "https://m.media-amazon.com/images/M/MV5BNzQzMzJhZTEtOWM4NS00MTdhLTg0YjgtMjM4MDRkZjUwZDBlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_SX300.jpg",
      "Title": "Blade Runner",
      "Type": "movie",
      "Year": "1982",
      "imdbID": "tt0083658"
    },
    {
      "Poster": "https://m.media-amazon.com/images/M/MV5BNzA1Njg4NzYxOV5BMl5BanBnXkFtZTgwODk5NjU3MzI@._V1_SX300.jpg",
      "Title": "Blade Runner 2049",
      "Type": "movie",
      "Year": "2017",
      "imdbID": "tt1856101"
    },
    {
      "Poster": "https://m.media-amazon.com/images/M/MV5BOTk2NDNjZWQtMGY0Mi00YTY2LWE5MzctMGRhZmNlYzljYTg5XkEyXkFqcGdeQXVyMTAyNjg4NjE0._V1_SX300.jpg",
      "Title": "Blade",
      "Type": "movie",
      "Year": "1998",
      "imdbID": "tt0120611"
    },
    {
      "Poster": "https://m.media-amazon.com/images/M/MV5BOWVjZTIzNDYtNTBlNC00NTJjLTkzOTEtOTE0MjlhYzI2YTcyXkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_SX300.jpg",
      "Title": "Blade II",
      "Type": "movie",
      "Year": "2002",
      "imdbID": "tt0187738"
    },
    {
      "Poster": "https://m.media-amazon.com/images/M/MV5BMjE0Nzg2MzI3MF5BMl5BanBnXkFtZTYwMjExODQ3._V1_SX300.jpg",
      "Title": "Blade: Trinity",
      "Type": "movie",
      "Year": "2004",
      "imdbID": "tt0359013"
    },
    {
      "Poster": "https://m.media-amazon.com/images/M/MV5BNGY5NWIxMjAtODBjNC00MmZhLTk1ZTAtNGRhYThlOTNjMTQwXkEyXkFqcGdeQXVyNTc1NTQxODI@._V1_SX300.jpg",
      "Title": "Sling Blade",
      "Type": "movie",
      "Year": "1996",
      "imdbID": "tt0117666"
    },
    {
      "Poster": "https://m.media-amazon.com/images/M/MV5BMTk0MjgxOTQ5MF5BMl5BanBnXkFtZTgwODA3NTUwNjE@._V1_SX300.jpg",
      "Title": "Dragon Blade",
      "Type": "movie",
      "Year": "2015",
      "imdbID": "tt3672840"
    },
    {
      "Poster": "https://m.media-amazon.com/images/M/MV5BYzIwYmJlMjktMzJiMy00YmQzLThmNWYtNWY3NGViZjc4MzYwXkEyXkFqcGdeQXVyNDQxNjcxNQ@@._V1_SX300.jpg",
      "Title": "Blade of the Immortal",
      "Type": "movie",
      "Year": "2017",
      "imdbID": "tt5084170"
    },
    {
      "Poster": "https://m.media-amazon.com/images/M/MV5BNjZhMTNmMTItNmU4Mi00YTdkLWFkZWUtOGExNTQ3MGRiYWYyXkEyXkFqcGdeQXVyNzI1NzMxNzM@._V1_SX300.jpg",
      "Title": "Shinobi: Heart Under Blade",
      "Type": "movie",
      "Year": "2005",
      "imdbID": "tt0475723"
    },
    {
      "Poster": "https://m.media-amazon.com/images/M/MV5BZGNiNmNiMTctMDI4OS00OWYxLWE4ZWEtZjFkZjU4ZmY5YzEyXkEyXkFqcGdeQXVyMzgxODM4NjM@._V1_SX300.jpg",
      "Title": "Blade Runner: Black Out 2022",
      "Type": "movie",
      "Year": "2017",
      "imdbID": "tt7428594"
    }
  ],
  "totalResults": "228"
}

In [5]:
#Iterate the dictionary and find the value if the key equals to imdbID
test = {}
new_data = list(data.values())[0]

for i in range(len(new_data)):
    for key, value in new_data[i].items():
        if key == 'imdbID':
            test[i] = value
test

{0: 'tt0083658',
 1: 'tt1856101',
 2: 'tt0120611',
 3: 'tt0187738',
 4: 'tt0359013',
 5: 'tt0117666',
 6: 'tt3672840',
 7: 'tt5084170',
 8: 'tt0475723',
 9: 'tt7428594'}

In [6]:
new_data[1].items()

dict_items([('Title', 'Blade Runner 2049'), ('Year', '2017'), ('imdbID', 'tt1856101'), ('Type', 'movie'), ('Poster', 'https://m.media-amazon.com/images/M/MV5BNzA1Njg4NzYxOV5BMl5BanBnXkFtZTgwODk5NjU3MzI@._V1_SX300.jpg')])

# Part 2

In [7]:
mydb.close()

NameError: name 'mydb' is not defined

In [8]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="0411"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE IF NOT EXISTS ucdavis")

mydb.close()

In [9]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="0411",
  database="ucdavis"
)

mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE IF NOT EXISTS omdb_test(imbd_id VARCHAR(255), title VARCHAR(255), year int)")
mydb.close()

# Part 3

In [10]:
#a
title =['The Dark Knight','The Godfather','Pulp Fiction']
final = []
for i in range(len(title)):
    final.append(url + '&t=' + title[i] + '&plot=full')

In [11]:
top_data = []
for i in range(len(final)):
    request = requests.get(final[i])
    top_data.append(request.json())

In [12]:
top_test = {}
for i in range(len(top_data)):
 for key, value in top_data[i].items():
  if key == 'Title':
     test = value
  if key == 'imdbID':
     top_test[test] = value

In [13]:
top_test

{'The Dark Knight': 'tt0468569',
 'The Godfather': 'tt0068646',
 'Pulp Fiction': 'tt0110912'}

In [14]:
#b
id_final = []
for value in top_test.values():
  id_final.append(url + '&i=' + value + '&plot=full')

In [15]:
top_id = []
for i in range(len(id_final)):
    request = requests.get(id_final[i])
    top_id.append(request.json())

In [149]:
#c

In [43]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="0411",
  database="ucdavis"
)
mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE IF NOT EXISTS omdb(Title VARCHAR(255), Year int, Genre VARCHAR(255), Director VARCHAR(255), imdb_rating float, rotten_tomatoes VARCHAR(255), metacritic VARCHAR(255), plot VARCHAR(9999), box_office VARCHAR(255))")

# sql = "INSERT INTO omdb (Title,Year,Genre,Director,imdb_rating,rotten_tomatoes,metacritic,plot,box_office VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s)"
# val = [top_id[0]['Title'],top_id[0]['Year'],top_id[0]['Genre'],top_id[0]['Director'],top_id[0]['imdbRating'],top_id[0]['Ratings'][1]['Value'],top_id[0]['Ratings'][2]['Value'],top_id[0]['Plot'],top_id[0]['BoxOffice']]

# mycursor.execute(sql,val)
# mydb.commit()

for i in range(len(top_id)):
  sql = 'INSERT INTO omdb (Title,Year,Genre,Director,imdb_rating,rotten_tomatoes,metacritic,plot,box_office) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s)'
  val = [top_id[i]['Title'],top_id[i]['Year'],top_id[i]['Genre'],top_id[i]['Director'],top_id[i]['imdbRating'],top_id[i]['Ratings'][1]['Value'],top_id[i]['Ratings'][2]['Value'],top_id[i]['Plot'],top_id[i]['BoxOffice']]
  mycursor.execute(sql,val)
mydb.commit()
mydb.close()